<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Beamer Snippets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/pygments.css" rel="stylesheet">
  <style type="text/css">
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
  </style>
  <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Beamer Snippets</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li>
            <a href="#" data-toggle="modal" data-target="#baseModal">
              Base Document
            </a>
          </li>
          <li><a href="http://github.com/bamos/beamer-snippets">Github</a></li>
        </ul>
      </div>
    </div>
  </div>

  {% block content %}{% endblock %}

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="js/bootstrap.js"></script>

  <div id="footer">
    <center>
      Crafted by <a href="http://bamos.io/about">Brandon Amos</a>. |
      <a href="http://github.com/bamos/beamer-snippets">Open-sourced on GitHub</a>. |
      <div class="fb-share-button" id='fb-share'
        data-href="replaced-by-js" data-type="button"></div>
    </center>
  </div>
  <div id="fb-root"></div>

  <!-- Base Modal -->
  <div class="modal fade bs-example-modal-lg" id="baseModal"
      tabindex="-1" role="dialog" aria-labelledby="baseModalLabel"
      aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="baseModalLabel">Base</h4>
        </div>
        <div class="modal-body">
          LaTeX documents require configuration options before the
          actual content starts, and the following is the base document
          used to generate the snippets.

          {{ base }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
document.getElementById('fb-share').setAttribute('href', window.location);
try{clicky.init(100602499);}catch(e){}
  </script>
</body>
</html>
